name: modelstore CI build

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.2
      with:
        persist-credentials: false
    - name: Set up maven and Java version
      uses: s4u/setup-maven-action@6c4e9964d4ecb8f1026310cd8618791fd51a8016
      with:
        java-version: 21
        maven-version: 3.9.11
    - name: Build with Maven
      run: mvn -B org.jacoco:jacoco-maven-plugin:prepare-agent install coveralls:report org.sonarsource.scanner.maven:sonar-maven-plugin:sonar --file pom.xml --define repoToken="$COVERALLS_REPO_TOKEN" -Dsonar.projectKey=steinarb_modelstore -Dsonar.organization=steinarb -Dsonar.host.url=https://sonarcloud.io
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_SECRET }}
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Set up maven and Java version
      uses: s4u/setup-maven-action@6c4e9964d4ecb8f1026310cd8618791fd51a8016
      with:
        maven-version: 3.9.11
    - name: Deploy javadoc
      uses: MathieuSoysal/Javadoc-publisher.yml@fda475b197081ba1eca7a1dfadf0c017080a1623
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        javadoc-branch: gh-pages
        java-version: 21
        target-folder: javadoc # url will be https://<username>.github.io/<repo>/javadoc, This can be left as nothing to generate javadocs in the root folder.
        project: maven
